code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 14px;
}

pre code {
  font-size: 14px;
}

p {
  line-height: 1.75;
  margin: 0;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em 0;
  padding-left: 10%;
  color: var(--text);
  border: dashed 2px var(--gray);
  border-width: 2px 0;
  margin: 0 -10%;
}

.hljs-comment,
.hljs-quote {
  color: var(--gray);
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: var(--gray);
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: var(--cyan);
}

.hljs-string,
.hljs-doctag {
  color: var(--green);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: var(--pink);
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: var(--indigo);
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: var(--cyan);
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: var(--green);
}

.hljs-symbol,
.hljs-attr,
.hljs-bullet {
  color: var(--orange);
}

.hljs-built_in,
.hljs-builtin-name {
  color: var(--orange);
}

.hljs-meta {
  color: color(--gray);
  font-weight: bold;
}

.hljs-deletion {
  border-bottom: 1px solid var(--red);
}

.hljs-addition {
  border-bottom: 1px solid var(--green);
}

.hljs-tag .hljs-attr,
.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
